<ion-grid *ngFor="let c of campo" class="detail">
  <ion-row class="align-row">
    <!-- Viñedo -->
    <ion-col size="12">
      <ion-row class="align-center">
        <ion-col size="auto">
          <ion-icon name="leaf-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col class="text-container">
          <strong>Campo:</strong> {{ c.campo }}
        </ion-col>
      </ion-row>
    </ion-col>
    <!-- Trampa -->
    <ion-col size="12">
      <ion-row class="align-center">
        <ion-col size="auto">
          <ion-icon name="bug-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col class="text-container">
          <strong>Trampa:</strong> {{ c.name }}
        </ion-col>
      </ion-row>
    </ion-col>
    <!-- Posición -->
    <ion-col size="12">
      <ion-row class="align-center">
        <ion-col size="auto">
          <ion-icon name="location-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col class="text-container">
          <div *ngIf="latitud != null && longitud != null">
            <div *ngIf="c | calculateDistance : latitud : longitud : c.latitud : c.longitud as result">
              <strong>Posición:</strong>
                ({{ c.latitud | number:"1.0-5":"en-US" }},
                {{ c.longitud | number:"1.0-5":"en-US" }}) - {{ result.distancia }} M - {{ result.orientacion }}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
    <!-- Fecha -->
    <ion-col size="12" class="field-item">
      <ion-row class="align-center">
        <ion-col size="auto">
          <ion-icon name="calendar-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col class="text-container">
          <strong>Fecha:</strong>
          {{ fechaHora | date: 'dd/MMM/yyyy hh:mm:ss a' }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-card class="welcome-card ion-text-center">
  <ion-card-content>
    <ion-row>
      <ion-col size="4">
        Longitud <br>
        {{ longitud | number:"1.0-5" : "en-US" }}
      </ion-col>
      <ion-col size="3">
        Latitud <br>
        {{ latitud | number:"1.0-5" : "en-US" }}
      </ion-col>
      <ion-col size="3">
        Precisión <br>
        {{ presicion | number:"1.0-5" : "en-US" }}
      </ion-col>
      <ion-col size="1">
        <ion-button color="{{ name }}" shape="round" size="small" (click)="actualizar()">
          <ion-icon name="sync"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <p class="ion-text-center esperando" [hidden]='latitud != null && longitud != null && presicion != null'>---
      Esperando posición ---</p>
  </ion-card-content>
</ion-card>
<hr>
<form #formulario="ngForm" (ngSubmit)="save()">
  <ion-item>
    <ion-label>Actividad</ion-label>
    <ion-select name='accion' slot="end" placeholder="Seleccione" [(ngModel)]='captura.accion' [compareWith]="compareWithAccion" interface="action-sheet" required>
      <ion-select-option *ngFor="let accion of acciones" [value]='accion.id'>{{ accion.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Cambio de feromona</ion-label>
    <ion-toggle color="{{ name }}" slot="end" name='feromona' [(ngModel)]='captura.feromona'></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Fenología</ion-label>
    <ion-select name='fenologia' slot="end" placeholder="Seleccione" [(ngModel)]='captura.fenologia' [compareWith]="compareWith" interface="action-sheet" required>
      <ion-select-option *ngFor="let fenologia of fenologias" [value]='fenologia.id'>{{ fenologia.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input label="Adultos encontrados" name='captura' type="number" min="0" pattern="^[0-9]{1,4}$" [(ngModel)]="captura.captura" required></ion-input>
  </ion-item>
  <p class="ion-text-center error" *ngIf='captura.accion == null' >--- Tienes que seleccionar actividad ---</p>
  <p class="ion-text-center error" *ngIf='captura.fenologia == null' >--- Tienes que seleccionar fenología ---</p>
  <p class="ion-text-center error" *ngIf='captura.captura == null' >--- Tienes que seleccionar captura ---</p>
  <p class="ion-text-center error" *ngIf='captura.infestacion == null' >--- Tienes que seleccionar porcentaje de infestación ---</p>

  <p class="ion-text-center enviado" *ngIf='status == 1' >--- Ya has enviado este registro ---</p>
  <p class="ion-text-center pendiente" *ngIf='status == 2' >--- Tienes pendiente de enviar este registro  ---</p>
  <ion-button expand="block" color="{{ name }}" [disabled]='formulario.invalid || status == 1 || latitud == null || longitud == null || presicion == null' type="submit">Guardar</ion-button>
</form>
