<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="simep">
        <ion-thumbnail>
          <ion-img class="img" src="../assets/sims/simep.png" ></ion-img>
        </ion-thumbnail>
      </ion-tab-button>
      <ion-tab-button tab="simgbn">
        <ion-thumbnail>
          <ion-img class="img" src="../assets/sims/simgbn.png" ></ion-img>
        </ion-thumbnail>
      </ion-tab-button>
      <ion-tab-button tab="simdia">
        <ion-thumbnail>
          <ion-img class="img" src="../assets/sims/simdia.png" ></ion-img>
        </ion-thumbnail>
      </ion-tab-button>
      <ion-tab-button tab="simmosca">
        <ion-thumbnail>
          <ion-img class="img" src="../assets/sims/simmosca.png" ></ion-img>
        </ion-thumbnail>
      </ion-tab-button>
      <ion-tab-button tab="simpp">
        <ion-thumbnail>
          <ion-img class="img" src="../assets/sims/simpp.png" ></ion-img>
        </ion-thumbnail>
      </ion-tab-button>
      <ion-tab-button tab="simto">
        <ion-thumbnail>
          <ion-img class="img" src="../assets/sims/simto.png" ></ion-img>
        </ion-thumbnail>
      </ion-tab-button>
      <ion-tab-button tab="simpicudo">
        <ion-thumbnail>
          <ion-img class="img" src="../assets/sims/simpicudo.png" ></ion-img>
        </ion-thumbnail>
      </ion-tab-button>
      <ion-tab-button tab="simtrampeo">
        <ion-thumbnail>
          <ion-img class="img" src="../assets/sims/simtrampeo.png" ></ion-img>
        </ion-thumbnail>
      </ion-tab-button>
   </ion-tab-bar>
  </ion-tabs>
  </ion-content>
