<div *ngFor="let captura of capturas">
  <ion-card>
    <ion-card-header>
        <ion-thumbnail>
          <ion-img class="img" src="../assets/sims/simgbn.png" ></ion-img>
        </ion-thumbnail>
        <ion-card-title>{{ captura.trampa }} | {{ captura.siembra_id }}</ion-card-title>
        <ion-card-subtitle>{{ captura.name }}</ion-card-subtitle>
        <ion-card-subtitle>{{ captura.fechaHora }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Latitud: {{ captura.latitud }}</ion-label>
      <br>
      <ion-label>Longitud: {{ captura.longitud }}</ion-label>
      <hr>
      <ion-card-subtitle>Datos Trampa:</ion-card-subtitle><br>
        <ion-label>Adultos encontrados: {{ captura.captura }}</ion-label><br>
        <ion-label>Latitud: {{ captura.latitud }}</ion-label><br>
        <ion-label>Longitud: {{ captura.longitud }}</ion-label><br>
        <ion-label>Fenologia: {{ captura.fenologia }}</ion-label><br>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color='success' type="button" (click)='reenviar(captura.id)'>Reenviar</ion-button>
</div>
