<ion-content>
  <ng-template #elseBlock>
    <ion-list>
      <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
        <ion-label class="ion-text-center">
          <ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
  <ion-list>
    <div *ngIf="omisiones && omisiones.length > 0; else elseBlock">
      <div *ngFor="let omision of omisiones">
        <ion-item class="content">
          <ion-thumbnail slot="start" *ngIf="omision.campana_id == 4">
            <ion-img class="img" src="../assets/sims/simdia.png"></ion-img>
          </ion-thumbnail>
          <ion-thumbnail slot="start" *ngIf="omision.campana_id == 5">
            <ion-img class="img" src="../assets/sims/simmosca.png"></ion-img>
          </ion-thumbnail>
          <ion-thumbnail slot="start" *ngIf="omision.campana_id == 6">
            <ion-img class="img" src="../assets/sims/simpp.png"></ion-img>
          </ion-thumbnail>
          <ion-col>{{ omision.name }}</ion-col>
        </ion-item>
      </div>
    </div>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color='success' (click)="actualizar()">
      <ion-icon name="sync"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
