.detail{
    background-color: var(--ion-color-SIMDIA);
    color:  var(--ion-color-SIMDIA-contrast);
    padding-left: 15pt;
    padding-top: 10pt;
}
h4{
    color: var(--ion-color-SIMDIA);
    padding-left: 15pt;
}
h3{
    font-size: 15pt;
    padding-left: 15pt;
}
hr{
    background-color: var(--ion-color-SIMDIA);
    height: 4pt;
}
ion-card-content {
    color: #ffffff;
    background-color: #c0c0c0;
}
.esperando{
    color: var(--ion-color-warning);
    font-size: 10pt;
}
.error{
    color: var(--ion-color-danger);
    font-size: 10pt;
}
.enviado{
    color: var(--ion-color-success);
    font-size: 10pt;
}
.pendiente{
    color: var(--ion-color-warning);
    font-size: 10pt;
}
.input-bold {
  --label-font-weight: 600;
}
.rounded{
     width: 90px;
     font-size: 10pt;
}
