<ion-header>
  <ion-toolbar color="success">
    <ion-title>

    </ion-title>
</ion-toolbar>
</ion-header>
<ion-content class="ion-text-center" >
  <form #formulario="ngForm" (ngSubmit)="login()">
    <ion-row>
      <ion-col>
        <ion-img class="img" src="../assets/icon/icon.png" style="width: 100%; height: 150px;"></ion-img><br>
      </ion-col>
    </ion-row>
    <ion-card>
        <ion-item lines="none">
          <ion-label position="stacked"><strong>Usuario</strong>*</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="usuario" name="usuario" required></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked"><strong>Contraseña</strong>*</ion-label>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="pass" name="password" [type]="showPassword ? 'text' : 'password'" required></ion-input>
            <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item>
    </ion-card>
    <br>
    <ion-button expand="block" [disabled]='formulario.invalid' type="submit">Iniciar sesión</ion-button>
  </form>
  <ion-row>
    <ion-col>
        <ion-img class="img" src="../assets/icon/siafeson.png" style="width: 100%; height: 100px;"></ion-img>
     </ion-col>
    <ion-col>
        <ion-img class="img" src="../assets/icon/cesave.png" style="width: 100%; height: 100px;"></ion-img>
     </ion-col>
  </ion-row>
</ion-content>
