ion-label{
    font-size: 18pt !important;
}
ion-button{
    --background: var(--ion-color-success);
    --background-activated: var(--ion-color-success);
    --background-hover: var(--ion-color-success);
    --background-focused: var(--ion-color-success);
}
ion-input {
    font-size: 18pt;
}
