<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Revisión información</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
    <ion-tabs>
        <ion-tab-bar color="success" slot="bottom">
            <ion-tab-button tab="registros">
                <ion-icon name="clipboard"></ion-icon>
                <ion-label>Registros</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="trampas">
                <ion-icon name="map"></ion-icon>
                <ion-label>Ubicaciones</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="fenologias">
                <ion-icon name="leaf"></ion-icon>
                <ion-label>Fenologias</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="brotes">
                <ion-icon name="leaf"></ion-icon>
                <ion-label>Brotes</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="observaciones">
                <ion-icon name="eye"></ion-icon>
                <ion-label>Observaciones</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="acciones">
                <ion-icon name="eye"></ion-icon>
                <ion-label>Acciones</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="omisiones">
                <ion-icon name="eye"></ion-icon>
                <ion-label>Omisiones</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="recomendaciones">
                <ion-icon name="eye"></ion-icon>
                <ion-label>Recomendaciones</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
